@import '@styles/variables/pallete.css';

.header {
  background-color: var(--color-header-background);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 60px;
}

.userInfo {
  display: flex;
  gap: 24px;
}

.userInfoWrapepr {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.userName {}

.userPosition {
  color: var(--color-text-grey);
}


@media (max-width: 1440px) {
  .header {
    height: 60px;
  }
}