.form {
  border-radius: 24px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.formWrapper {
  height: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d1d1d1;
  } 
}

.formWrapper:hover button {
  background-color: var(--color-bg-button-orange-hover);
  outline: 1px solid var(--color-outline-button-hover);
}

.formInner {
  padding: 64px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  opacity: 0;
  display: block;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.text {
  color: var(--color-text-grey);
  font-size: var(--font-size-h-s);
  max-width: 408px;
  text-align: center;
  margin-block: 14px auto;
  letter-spacing: -0.5px;
}