*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  border: none;
  font-family: inherit;
  outline: none;
}

ul,
ol {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}