.dropArea {
  height: 100%;
  border-radius: 24px;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.highlight {
  background: linear-gradient(90deg, rgba(251, 174, 24, 0.5), rgba(239, 118, 34, 0.5), rgba(239, 79, 36, 0.2));
  background-size: 300% 100%;
  animation: flow 4s linear infinite;
}